<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="titleModal == 'add'; else elseBlock">Add Product</h4>
        <ng-template #elseBlock><h4 class="modal-title">Edit Product</h4></ng-template>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form #productForm="ngForm">
            <label class="text-content-form"><b>Name:</b></label>
            <input type="text" placeholder="Enter name"
                required
                minlength="4"
                maxlength="32"
                #name="ngModel"
                [(ngModel)]="productInfo.name"
                name="name">
            <br>
            <div *ngIf="name.touched && !name.valid" class="validator">
                <div class="col alert alert-danger" role="alert">
                    <span *ngIf="name.errors.required">
                        Name is required!
                    </span>
                    <span *ngIf="name.errors.minlength || name.errors.maxlength">
                        Name'length from 4 to 32 characters!
                    </span>
                </div>
            </div>

            <label class="text-content-form"><b>Price:</b></label>
            <input type="text" placeholder="Enter price"
                required
                [pattern]="numberPattern"
                #price="ngModel"
                [(ngModel)]="productInfo.price"
                name="price"> 
            <br>
            <div *ngIf="price.touched && !price.valid" class="validator">
                <div class="col alert alert-danger" role="alert">
                    <span *ngIf="price.errors.required">
                        Price is required!
                    </span>
                    <span *ngIf="price.errors.pattern">
                        Just enter the number!
                    </span>
                </div>
            </div>

            <label class="text-content-form"><b>Quantity:</b></label>
            <input type="text" placeholder="Enter quantity"
                required
                [pattern]="numberPattern"
                #quantity="ngModel"
                [(ngModel)]="productInfo.quantity"
                name="quantity">
            <br>
            <div *ngIf="quantity.touched && !quantity.valid" class="validator">
                <div class="col alert alert-danger" role="alert">
                    <span *ngIf="quantity.errors.required">
                        Quantity is required!
                    </span>
                    <span *ngIf="quantity.errors.pattern">
                        Just enter the number!
                    </span>
                </div>
            </div>
            <br>

            <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-outline-dark btn-save" 
                (click)="modal.close('Save')" [disabled]="!productForm.form.valid">
                    Save
                </button>

                <button type="button" class="btn btn-outline-dark btn-cancel" 
                (click)="modal.close('Cancel')">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>
