.mx-auto.containner-content{
    width: 95%;
    margin: 15px 0;
    background-color: rgb(216, 216, 216);
    border-radius: 5%;
}

.d-flex.btn-btns{
    padding: 10px 5px;
}

.long-title{
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containner-product-list {
    margin: 0 10%;
}

.btn-product-page{
    width: 110px;
    padding: 10px 0;
    border-radius: 1.2rem;
    color: whitesmoke;
}

.btn-buy{
    background-color: rgb(218, 165, 31);
    transition: all 0.5s;
    cursor: pointer;
}

.btn-buy span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-buy span:after {
    content: '$';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-buy:hover span {
    padding-right: 18px;
}

.btn-buy:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-add-cart{
    background-color: rgb(85, 113, 199);
    transition: all 0.5s;
    cursor: pointer;
}

.btn-add-cart span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-add-cart span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-add-cart:hover span {
    padding-right: 23px;
}

.btn-add-cart:hover span:after {
    opacity: 1;
    right: 0;
}

a:focus b{
    outline: none !important;
}

a:hover b{
    text-decoration: none;
    font-size: 17px;
    color: #e41e1e;
    text-decoration: underline;
}

@media screen and (min-width: 1400px) {
    .btn-product-page{
        width: 140px;
        padding: 10px 20px;
        margin: 5px 0;
    }

    .btn-buy{
        margin-left: 12px;
    }

    .btn-add-cart{
        margin-right: 12px;
    }
}

@media screen and (max-width: 1190px) {
    .containner-product-list {
        margin: 0 3%;
    }
}

@media screen and (min-width: 769px) and (max-width: 965px) {
    .containner-product-list {
        margin: 0;
    }
    .btn-product-page {
        width: 90px;
    }
}

@media screen and (max-width: 330px) {
    .containner-product-list {
        background-color: yellowgreen;
    }

    .btn-product-page{
        width: 90px;
        font-size: 12px;
    }

    .d-flex.btn-btns{
        padding: 10px 0;
    }
}